.nav {
  &__list {
    display: flex;
    overflow: scroll;
    white-space: nowrap;
    gap: 10px 25px;
    padding-left: 32px;
    padding-bottom: 24px;
  }
  &__list::-webkit-scrollbar {
    display: none;
  }
  &__link {
    font-family: TTLakesRegular;
    color: $text-light;
    padding: 6px 12px;
    display: inline-block;
    border: 2px solid transparent;
  }
  &__link:hover {
    border: 2px solid $decor-border-nav;
    border-radius: 6px;
    background-color: $background-second;
  }
  &__list::before {
    content: "";
    position: absolute;
    right: 0%;
    width: 24px;
    height: 38px;
    background: linear-gradient(
      270deg,
      $background 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}
@media (min-width: 1120px) {
  .nav {
    &__list {
      flex-wrap: wrap;
    }
    &__list::before {
      content: none;
    }
  }
}
