.section-bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;

  &__text {
    width: 280px;
    font-family: TTLakesRegular;
    font-size: 14px;
    line-height: 20px;
  }
  &__link-text {
    position: relative;
  }
  &__link-text::after {
    content: url(/1.6/image/Line.svg);
    position: absolute;
    right: -15px;
    bottom: -2px;
  }
}
@media (min-width: 768px) {
  .section-bot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 24px;
    padding-top: 24px;
    width: 768px;

    &__text {
      width: 421px;
    }
    &__link {
      display: flex;
      gap: 8px;
    }
  }
}
@media (min-width: 1120px) {
  .section-bot {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 32px;
    padding-top: 32px;
    margin: 0;

    &__text {
      width: 421px;
    }
    &__link {
      display: flex;
      gap: 8px;
    }
  }
}
