.swiper-mid {
  &__text {
    color: $text-dark;
    align-self: start;
  }
  &__img {
    align-self: end;
  }
  &__btn {
    display: none;
  }
  &__link {
    width: 240px;
    display: flex;
    background-color: $background-second;
    height: 160px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid;
    border-radius: 6px;
    color: $decor-light;
  }
  &__link:hover {
    box-shadow: inset 0 0 5px $text-light;
  }
  &__wrapper {
    padding-top: 16px;
    padding-left: 16px;
    transition: 0.3s;
  }
  &__on::before {
    content: "";
    position: absolute;
    top: 10px;
    height: 160px;
    width: 24px;
    z-index: 2;
    right: 0;
    background: linear-gradient(
      to left,
      $background 0.01%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}
@media (min-width: 768px) {
  .swiper-mid {
    width: 720px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-bottom: 32px;

    &__on::before {
      content: none;
    }
    &__wrapper {
      padding-top: 0px;
      padding-left: 0;
      gap: 16px 24px;
      flex-wrap: wrap;
      max-height: 160px;
    }
    &__wrapper-open {
      max-height: 338px;
    }
    &__link {
      width: 224px;
    }
    &__btn {
      display: flex;
      gap: 0 8px;
    }
    &__btn-expand-deg {
      transform: rotate(180deg);
    }
  }
}
@media (min-width: 1120px) {
  .swiper-mid {
    width: 1056px;
    padding-bottom: 50px;
    &__wrapper {
      gap: 16px 32px;
    }
    &__link {
      width: 240px;
    }
  }
}
