.swiper {
  &-pagination {
    position: static;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $bullet;
    opacity: 1;
  }
  &-pagination-bullet-active {
    background-color: $bullet-active;
  }
}
@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}
