.title-swiper {
  padding: 16px;
  font-family: TTLakesRegular;
  color: $text-light;
  text-transform: uppercase;
  font-weight: normal;
  background: linear-gradient(to right, $background, $background-second);
}
@media (min-width: 768px) {
  .title-swiper {
    padding-left: 24px;
  }
}
@media (min-width: 1120px) {
  .title-swiper {
    padding-left: 24px;
  }
}
