$background: #f8f8f8;
$accent: #ff3e79;
$background-second: #ffffff;
$decor-light: #eaeaea;
$decor-title: #41f6d7;
$text-dark: #1b1c21;
$text-light: #7e7e82;
$decor-border-nav: #b8ffec;
$bullet: #dddddd;
$bullet-active: #b5b6bc;
